.login-form {
  max-width: 450px;
  margin: 25vh auto auto;
  display: flex;
  flex-direction: column;

  padding: 5px 15px;
}

@media screen and (max-width: 760px) {
  .login-form {
    margin-top: 50px;
  }
}

.login-button {
  margin-left: auto;
  width: 120px;
}
